.main {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}
.icon {
    height: 130px;
    width: 130px;
    padding: 30px;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.img_bg {
    background-color: #feba4f;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.question {
    font-size: 18px;
    font-weight: bolder;
}
